$background-color_all = #324057
$background-color = #37A4C8
$font-color-title = #fff
$font-color = #333
$font-size-l = 30px
$font-size-s = 14px
$error-danger = #F56C6C
$error-success = #67C23A
// 宽高
wh(w,h)
  width w
  height h
//定位上下左右居中
ctp(w,h)
  position absolute
  top 50%
  left 50%
  margin-top -1*(h/2)
  margin-left -1*(w/2)
